h2{
    text-align: right;
    margin: 40px;
}

header h1{
    padding-top: 20px;
    margin: 30px;
    text-align: center;
    height: 70px;
    width: 450px;
    float: right;
    background-color: rgba(226, 226, 226, 0.43);
}

header p{
    float: right;
    margin: 30px;
    margin-left: 200px;
    width: 350px;
    height: 70px;
    background-color: rgba(226, 226, 226, 0.43);
    text-align: center;
    font-size: 27px;
    color: black;
    padding-top: 20px;
}

article p{
    width: 800px;
    margin: 40px auto;
    height: 150px;
}

#love{
    background: url("../img/love.png") no-repeat center right, rgba(226, 226, 226, 0.43);
    background-size: 150px 150px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 170px;    
}

#script{
    padding-left: 170px;
    padding-right: 20px;
    text-align: right;
    background: url("../img/lua.png") no-repeat center left, rgba(226, 226, 226, 0.43);
    background-size: 150px 150px;
    padding-top: 50px;
}