*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(32, 24, 57);
}

#pagina{
    width: 1200px;
    margin: 30px auto;
    background-color: rgb(22, 27, 41);
}

header{
    height: 300px;
    background-size: cover;
}

footer{
    height: 225px;
    background: linear-gradient(rgb(22, 27, 41), rgb(32, 24, 57));
}

#lin{
    border-top: 2px solid rgb(32, 24, 57);
    height: 30px;
    width: 700px;
    margin: 20px auto;
}

footer{
    color: rgb(22, 27, 41);
}

#izq{
    height: 100px;
    width: 300px;
    float: left;
    margin: 30px 90px;
    background: rgb(49, 60, 86);
    padding: 10px;;
    box-shadow: 10px 10px 1px rgb(35, 43, 63);
}

#drc{
    height: 40px;
    width: 140px;
    float: right;
    margin: 30px 90px;
    text-align: right;
    background: rgb(49, 60, 86);
    padding: 10px;
    box-shadow: 10px 10px 1px rgb(35, 43, 63);
}