header{
    background: url("../img/header_game_prot1.png") no-repeat center;
    background-size: cover;
}

article p{
    height: 120px;    
}

#lost{
    padding-right: 170px;
    background: url("../img/sprite-nobg.gif") no-repeat center right, rgb(49, 60, 86);
    background-size: 150px 150px;
    padding-left: 20px;
    padding-top: 50px;

}

#scripting {
    padding-left: 190px;
    background: url("../img/script.png") no-repeat center left, rgb(49, 60, 86);
    background-position-x: 20px;
    background-size: 150px 150px;
    padding-right: 20px;
    padding-top: 50px;
}